p {
    text-indent: 25px;
}
.container2{
    width: 100%;
}

#map {
    width: 100%;
    height: 40em;
}

.main-table,
.git-table 
{
    background: #c5c9c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c5c9c7, #b5651d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c5c9c7, #b5651d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.phon {
    background: #964B00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00008b , #e3ff00 );
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00008b , #e3ff00 );
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.btn {
    text-decoration: none;
    color: black;
    border: 2px solid #7DF9FF;
    background-color: #ffdf00;
    padding: 10px;
    transition: color 1s, border-color 1s, background-color 1s;
    display: inline-block;
    border-radius: 5px;
}

.btn:hover {
    background-color: #b5651d;
    border-color: #964b00;
}
.header{
    background-color: #b5651d;
}
.dinon{
    display: none;
}
.footer{
    background-color: #c5c9c7;
}